.chat-header__left
  %h2.group
    = @group.name
    .meber-list
      %p.member
        member : 
      - @group.users.each do |group_member| 
        = group_member.name







.chat-header__right
  .chat-header__right__edit-button
    = link_to 'Edit', edit_group_path(@group.id), class: "btn"
      