* {
  box-sizing: border-box;
}
.chat__messages {
  height: calc( 100vh - 190px );
  background-color: #fafafa;
  padding: 40px 46px;
  border: #eeeeee;
  overflow: scroll;

  .chat__message {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;

    &__text {
      display: block;
      color: #434a54;
      font-size: 15px;
      margin-top:10px;
    }

    &__info {
      display:flex;
      // flex-direction:row;


      &__user {
        justify-content: space-between;
        color: #434a54;
        font-size: 17px;
        font-weight: bold;
        margin-right: 10px;
      }
      &__data {
        display: block;
        padding-left: 10px;;
        flex-grow: 2;
        float: right;
        font-size: 12px;
        font-weight: bold;
      }
    }
  }
}
